/* Universal styles */
* {
  margin: 0;
  padding: 0;
  color: green;
  font-family: monospace;
}

body {
  background-color: rgb(26, 26, 26);
  font-size: 26px;
}

main {
  display: flex;
  flex-flow: column;
}

/* PROMPT SECTION */
#prompt {
  margin-top: 6rem;
  width: 90%;
}

/* TYPEWRITER ANIMATION */
.typewriter {
  color: green;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.5em solid green; /* The typwriter cursor */
  white-space: wrap; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 1.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: green;
  }
}

/* INPUT */
#user-input {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}

input {
  border: none;
  background-color: rgb(26, 26, 26);
  color: green;
  margin: 1rem;
}

#user-input {
  display: flex;
  flex-direction: column;
}
